<h1 class="mx-auto text-center mt-4 mb-3"> Your Bookings - <%= @user.email %> </h1>
<ul>
<br>
  <div class="row">
    <% @user.bookings.each do |booking| %>
    <div class="col-md-4">
      <div class="container">

        <div class="card mb-3 shadow p-3  mb-5 bg-body rounded" style="max-width: 540px;">
          <div class="card-body">
          <p>Your booking with: </p>
            <img src="<%= cl_image_path booking.teacher.photo.key, width: 400, height: 300, crop: :fill %>" class="img-fluid rounded-start" alt="...">
            <h5 class="mt-2"><strong><%= booking.teacher.first_name %> <%= booking.teacher.last_name %></strong></h5>
            <p><strong>Date: <%= booking.start_at.day %>/<%= booking.start_at.month %>/<%= booking.start_at.year %></strong></p>
            <p><strong>Session: <%= booking.start_at.hour%>:00 - <%= booking.end_at.hour %>:00</strong></p>

            <p class="card-text"><small class="text-muted">Last updated <%= rand(0..5) %> mins ago</small></p>
            <div class="card-trip-pricing d-flex justify-content-between">
              <p><%= link_to "",
                booking_path(booking),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class:"fa fa-trash fa-0x " %></p>
              <h5><strong>£<%= rand(10..50) %>.00/h</strong></h5>

            </div>

          </div>
        </div>
      </div>
    </div>
   <% end %>
  </div>
