

<h3 class="ms-4 mt-4"><%= @user.email %></h3>


<% @user.bookings.each do |booking| %>
      <div class="card-group mt-3 ms-4">
          <div class="card mb-3 shadow p-3  mb-5 bg-body rounded" style="max-width: 320px;">
              <div class="row">
                <p class="fw-bold">Teacher:</p>
                <p><%= booking.teacher.first_name %> <%= booking.teacher.last_name %></p>
                <p>Start Time: <%= booking.start_at %> </p>
                <p>End Time: <%= booking.end_at %></p>
              </div>
            </div>
          </div>
      </div>
    </div>

<% end %>
