

  <div class="card-product">
    <img src="<%= cl_image_path @teacher.photo.key, crop: :fill %>" class="img-fluid rounded-start" alt="...">
    <div class="card-product-infos">
      <h1><%= @teacher.first_name %> <%= @teacher.last_name %></h1>
      <ul class="list-unstyled">
        <li><strong>Location:</strong> <%= @teacher.location %></li>
        <li><strong>Specialty:</strong> <%= @teacher.specialty %></li>
        <br>
        <li><%= @teacher.bio %></li>
      </ul>
      <h5 class="card-trip-pricing"><strong>£<%= rand(40..150) %>.00/h</strong></h5>
      <br>
      <%= link_to "Book an appointment", new_teacher_booking_path(@teacher), class: "btn btn-flat" %>
      <%= link_to "Back to Index", teachers_path, class: "btn btn-primary" %>
    </div>
  </div>

<div class="card-review">
  <div class="card-product-infos">
    <ul class="list-unstyled">
      <h3>Placeholder Reviews</h3>
      <li>Ariel: <%= @teacher.first_name %> helped me learn to code!</li>
      <li>⭐️⭐️⭐️⭐️⭐️</li>
    </ul>
  </div>
</div>

<div class="card-review">
  <div class="card-product-infos">
    <ul class="list-unstyled">
      <li>Som: <%= @teacher.first_name %>, absolute lifesaver! Thanks for teaching us!</li>
      <li>⭐️⭐️⭐️⭐️⭐️</li>
    </ul>
  </div>
</div>
