<div class="container">
  <div class="teacher-name">
      <h1><%= @teacher.first_name %> <%= @teacher.last_name %></h1>
      <p><%= @teacher.location %></p>
      <%= @teacher.avg_rating.times do %>
            ⭐️
      <% end %><br>
  </div>

  <div class="top-teacher">
    <div>
      <img src="<%= cl_image_path @teacher.photo.key, crop: :fill, width: 460, height: 460 %>" class="teacher-profile" alt="...">
    </div>

    <div class="teacher-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="bottom-teacher">

    <div class="teacher-bio">
      <ul>
          <h4><strong>Specialty:</strong></h4>
          <p><%= @teacher.specialty %></p><br>
          <h4><strong>Bio:</strong></h4>
          <p><%= @teacher.bio %></p>
      </ul>
    </div>

    <div class="teacher-booking">
      <h4><strong>Book a session</strong></h4>
      <%= simple_form_for [@teacher, @booking] do |f| %>
        <%= f.input :start_at, as: :datetime, html5: true %>
        <%= f.input :end_at, as: :datetime, html5: true %>
        <%= f.submit "Book", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>

  <div class="reviews">
    <div class="reviews-list">
      <h4><strong>Reviews</strong></h4>
      <ul class="list-group">
        <% @teacher.reviews.each do |review| %>
          <div class="review-rating">
          <strong><%= review.rating.times do %>
            ⭐️
          <% end %><br></strong>
          </div>

          <div class="review-content">
          <%= review.content %>
          </div>
        <% end %>
    </div>

    <div class="add-reviews">
      <h4><strong>Add a review</strong></h4>
      <%= simple_form_for [@teacher, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
